.detail-clinic-container {
   .detail-clinic__header {
      background-color: #ebebeb;
      padding: 20px 0;
      .container
      {
         .detail-clinic__avatar {
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
         }
         .detail-clinic__infor {
            display: flex;
            flex-direction: column;
            padding: 20px;
            .detail-clinic__name {
               font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 12px;
            }
            .detail-clinic__location {
               i {
                  margin-right: 8px;
               }
            }
         }
      }      
   }
   .detail-clinic__doctors {
      .detail-clinic__doctor {
         background-color: #fff;
         display: flex;
         grid-gap: 20px;
         gap: 20px;
         flex-wrap: wrap;
         box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
         margin: 12px 0;
         padding: 6px 12px;
         border-radius: 6px;
         .detail-clinic__doctor--content-left {
             width: 40%;
             padding-right: 8px;
         }
         .detail-clinic__doctor--content-right {
             flex: 1;
             display: flex;
             flex-direction: column;
             gap: 12px;
         }
     }

   }
   .detail-clinic__description {
      background-color: #bcd3ec;
      padding: 20px 0;
   }
}