.booking-modal-container {
  max-width: 800px;

  .header {
    padding: 8px 12px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    .title {
      font-weight: 600;
      font-size: 18px;
    }
    i {
      padding: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        background: rgb(192, 25, 25);
        color: #fff;
      }
    }
  }
  .body {
    padding: 0 20px;
    //  .input-container {
    //    display: flex;
    //    flex-direction: column;
    //    padding: 3px 20px;
    //    input {
    //      border-radius: 3px;
    //      border: 1px solid black;
    //      height: 40px;
    //      outline: none;
    //      padding: 0 10px;
    //    }
    //  }
  }
  .footer {
    padding: 12px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    margin-top: 12px;
    .btn-booking-modal {
      border: none;
      outline: none;
      padding: 4px 12px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &.btn-confirm {
        background-color: orange;
        color: #333;
      }
      &.btn-cancel {
        background-color: #666;
        color: #fff;
      }
    }
  }
}
