.manage-clinic-container {
   .manage-clinic__title {
      text-align: center;
      margin: 20px 0;
      font-size: 30px;
      font-weight: 600;
      color: aqua;
   }
   .manage-clinic__body {
      .manage-clinic__inputs {
         margin-bottom: 20px;
         .clinic__image {
            margin-top: 12px;
         }
      }
      .btn__save-clinic {
         display: inline-block;
         border-radius: 4px;
         background-color: dodgerblue;
         padding: 6px 20px;
         font-size:16px;
         font-weight: 600;
         cursor: pointer;
         opacity: 1;
         transition: ease-in-out 0.2s;
         margin: 12px;
         &:hover {
            opacity: 0.8;
            color: orangered;
            background-color:darkmagenta;
         }
      }
   }
}