.doctor-schedule-contanier {
  height: 100%;
  min-height: 150px;
  .select-tag {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: #337ab7;
  }
  .all-avalable-time {
    margin-top: 12px;
    .text-calendar {
      i {
        span {
          text-transform: uppercase;
          padding-left: 6px;
          letter-spacing: 1px;
        }
      }
    }
    .schedule-time {
      .schedule-time__select {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin: 20px 0;
        .btn-schedule {
          background-color: #fff8ae;
          padding: 6px 12px;
          border: none;
          outline: none;
          border-radius: 6px;
          font-weight: 600;
          color: #3c3c3c;
          &:hover {
            color: #fff;
            background-color: #45c3d2;
          }
          &.btn-vi {
            min-width: 120px;
          }
          &.btn-en {
            min-width: 160px;
          }
        }
      }
      .no-schedule {
        font-style: italic;
        text-align: center;
        margin-top: 40px;
      }
      .booking {
        i {
          padding: 0 6px;
        }
      }
    }
  }
}
