.doctor-schedule-contanier {
  height: 300px;
  .select-tag {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: #337ab7;
  }
  .schedule-time {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
    .btn-schedule {
      background-color: #fff8ae;
      padding: 6px 12px;
      border: none;
      outline: none;
      border-radius: 6px;
      font-weight: 600;
      color: #3c3c3c;
      min-width: 160px;
      &:hover {
        color: #fff;
        background-color: #45c3d2;
      }
    }
  }
}
