.home-header-container {
  // height: 6rem;
  //border: 1px solid red;
  width: 100%;
  padding: 0 50px;
  margin-top: 60px;

  .home-header-content {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;
    background-color: #ededed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 999;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);

    .left-content {
      width: 20%;
      // border: 1px solid green;
      display: flex;
      align-items: center;

      .header-logo {
        background: center no-repeat;
        height: 65%;
        width: 75%;
        cursor: pointer;
      }

      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
    }

    .center-content {
      width: 60%;
      //border: 1px solid red;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
    }

    .right-content {
      width: 20%;
      //border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
      // i{
      //     padding-right: 20%;
      // }
      .support {
        margin: 35px;
        display: flex;
        align-items: center;
        cursor: pointer;
        i {
          font-size: 15px;
          margin-right: 5px;
        }
      }
      .language-vi {
        cursor: pointer;
        margin: 0 5px;
        opacity: 0.3;
        &.active {
          opacity: 1;
          span {
            color: orange;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .language-en {
        cursor: pointer;
        margin: 0 5px;
        opacity: 0.3;
        &.active {
          opacity: 1;
          span {
            color: blue;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
